@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f0f4fb;
}

header  li, header a, header button {
    font-family: 'MedievalSharp';
    font-weight: 500;
    font-size: 19px;
    color: white;
    text-decoration: none;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    border-bottom: solid darkred 2px;
    background: url(/assets/pexels-mentatdgt-1167160.jpg);
}


.logo{
    cursor: pointer;
    font-family: 'MedievalSharp';
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 40px;
}

.nav-links li a:hover{
    transition: all 0.3s ease 0s;
    color: #FFF;
    border-bottom: solid #fff 2px;
}

button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

button:hover{
    transition: all 0.3s ease 0s;
    background-color: rgba(0, 136, 169, 0.8); 
}


.map-text{
    text-align: center;
    margin-top: 30px;

}

.map-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.Imap {
    width: 80%;
    height: 500px;
    background-color: rgb(92, 6, 6);
}

.btn-down{
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: 40px;
    transform: translate(-50%, -50%);
}

#sec-1{
    min-height: 90vh;
    width: 100%;
}

#sec-2{
    min-height: 100vh;
    width: 100%;
}


.grid-text h1 span{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 30px;
}

.grid-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(265px,1fr));
    gap: 2rem;
}

.article-container{
    margin: 2rem auto;
    max-width: calc(100% - 80px);
}



.article-image{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.article-image img{
    max-width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
}

.article-card{
    background-color: white;
    border-radius: 20px;
    transition: 0.3s;
}

.article-card:hover{
    box-shadow: 0 4px 20px 0 rgba(34, 68, 123, 0.2);
    cursor: pointer;
}

.article-content{
    padding: 2rem;
}

.article-content .card-category{
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 600;
    color: #6b82a7;
    display: block;
    text-decoration: none;
}

.article-content .card-title{
    margin: 1rem 0;
    color: #22447b;
}

.article-content .card-text{
    font-size: 1rem;
    line-height: 1.5rem;
    color: #6b82a7;
    margin: 0;
}

@media screen and (min-width:768px) {
    .site-container{
        max-width: 608px;
    }

    .article-card{
        display: grid;
        grid-template-rows: 200px 1fr;
    }
}

@media screen and (min-width:1280px) {
    .site-container{
        max-width: 1156px;
    }
}


/* 

.map-container {
    display: flex;
    justify-content: center;
    background-color: #A43D39;
}

.Imap {
    margin-top: 50px;
    width: 600px;
    height: 400px;

}



<div class="map-container">
<div id="map" class="Imap"></div>
</div>

<script>
$(function () {
    $('#map').vectorMap({
        map: 'cn_merc'
    });
});
</script> */ 