@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    color: #fff;
    z-index: 2;
    transition: 0.5s;
}

.showcase.active {
    right: 300px;
}

.showcase header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    text-transform: uppercase;
    cursor: pointer;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url(/assets/menu.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}

.toggle.active {
    background: url(/assets/cancel.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.text {
    position: relative;
    z-index: 10;
}

.text h2 {
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}

.text h3 {
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
}

.text p {
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}

.text button {
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: #111;
    transition: 0.2s;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul {
    position: relative;
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    font-size: 24px;
    color: #111;
    line-height: 50px;
}

.menu ul li a:hover {
    color: #03a9f4;
}



@media(max-width: 798px) {

    .showcase,
    .showcase header {
        padding: 40px;
    }

    .text h2 {
        font-size: 3em;
    }

    .text h3 {
        font-size: 2em;
    }
}


/* \\\\\\\\\\\\\\\\\\\BUTTON\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
}

button:hover {
    transition: all 0.3s ease 0s;
    background-color: rgba(0, 136, 169, 0.8);
    letter-spacing: 2px;
}

.btn-down {
    position: absolute;
    text-align: center;
    padding: 10px 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* GRID CONTENT///////////////////////////////////// */

#sec-2 {
    position: absolute;
    margin-top: 100vh;
}


.bg-grid {
    background: url(/assets/pexels-sam-lim-1586205.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.grid-content {
    display: grid;
    grid-template-columns: repeat(3, minmax(450px, 1fr));
    gap: 15px;
    padding-top: 15%;
}

.content-box {
    margin: 20px;
    cursor: pointer;
    position: relative;
}

.content-box:hover {
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    transition: all 0.3s ease 0s;
    transform: scale(1.035);
}

.text-box:hover {
    transition: all 0.3s ease 0s;
    transform: scale(1.035);
}

.content-box img {

    width: 100%;
    height: 100%;
}

.text-box {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

.content-box h1 {
    font-size: 50px;
    color: #FFF;
}

@media screen and (max-width:768px) {

    .grid-content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

}